extends layout

block append scripts
	script(src='/javascripts/conditionScripts.js')

block content
	script(nonce=nonce).
		document.getElementById('nav-rivcond').classList.add('active');

	// invisible Divs, ready for cloning
	div(class='input-group mt-2' id='div-advice-example' hidden=true)
		label(class='input-group-text' for='advice-example') Advice
		input(class='form-control' type='text' id='advice-example' name='advices[]' size='75')
	div(class='container-lg')
		div(class='row')
			if (condition)
				h3 Edit riven condition
				span= 'id = ' + condition._id
			else
				h3= 'Create new riven condition'
		form(action='/riven/condition/form' id='formCond' method='post')
			if (condition)
				input(type='hidden' name='_id' value=condition._id)
			div(class='input-group mt-2')
				label(class='input-group-text' for='desc') Description :
				if (condition)
					input(class='form-control' id='desc' name='description' type='text' size='75' value=condition.description)
				else
					input(class='form-control' id='desc' name='description' type='text' size='75')
			div(class='form-check mt-2')
				label(class='form-check-label' for='opt') : Optional
				if (condition && condition.optional)
					input(class='form-check-input' type='checkbox' id='opt' name='optional' checked)
				else
					input(class='form-check-input' type='checkbox' id='opt' name='optional')
			div(class='row' id='advices')
				- let n = 0
				if (condition && condition.advices)
					for adv in condition.advices
						div(class='input-group mt-2' id='div-advice'+(++n))
							label(class='input-group-text' for='advice'+n) Advice #{n} :
							input(class='form-control' type='text' id='advice'+n name='advices[]' size='75' value=adv)
			div(class='row mt-3 ms-0')
				button(class='btn btn-outline-info w-25' id='add') Add advice
				button(class='btn btn-outline-info w-25 mx-3' id='remove') Remove last advice
			div(class='row mt-4')
				button(class='btn btn-outline-primary w-25 ms-5' type='submit')
					if (condition)
						= 'Update condition'
					else
						= 'Create condition'
