extends layout

block content
	script(nonce=nonce).
		document.getElementById('nav-login').classList.add('active');

	div(class='container-lg')
		div(class='row')
			h3 Login to Warframe Stats
		form(action='/users/loginFormProcess' method='post')
			div(class='form-group mt-2')
				label(class='col-form-label col-sm-2' for='email') E-Mail :
				if (email)
					input(class='col-sm-10 form-control', id='email', name='user[email]', type='text', aria-describedby="emailHelp" value=email)
				else
					input(class='col-sm-10 form-control', id='email', name='user[email]', type='text', aria-describedby="emailHelp" placeholder="Enter email")
				if (errors && errors.email)
					small(id='emailError', class="form-text", style='color: red;')= errors.email
			div(class='form-group mt-2')
				label(class='col-form-label col-sm-2' for='password') Password :
				input(class='col-sm-10 form-control', id='password', name='user[password]', type='password', placeholder="Enter password")
				if (errors && errors.password)
					small(id='passwordError', class="form-text", style='color: red;')= errors.password
			div(class='row mt-4')
				input(class='btn btn-outline-primary w-25 ms-3' type='submit' value='Login')
			div(class='row mt-2')
				if (errors && errors.info)
					small(id='otherError', class="form-text", style='color: red;')= errors.info
