extends layout_more

block content
	script(nonce=nonce).
		document.getElementById('nav-rewlist').classList.add('active');

	div(class='container-fluid')
		div(class='row')
			div(id="toolbar-title")
				h3 Rewards from Sortie or Archon's Hunt
			table(id="table"
				data-content-type="application/json"
				data-toolbar="#toolbar-title"
				data-url="/reward/raw"
				data-filter-control="true"
				data-header-style="headerStyle"
				data-row-style="rowStyle"
				data-height="765"
				data-pagination="true"
				data-side-pagination="client"
				data-pagination-loop="false"
				data-page-list="[10, 20, 50, All]"
				data-total-field="count"
				data-data-field="items"
				data-show-fullscreen="true"
				data-show-search-clear-button="true")
				thead
					tr
						th(data-field="details" data-formatter="detailsFormatter" data-events="detailsEvents") Details
						th(data-field="date" data-formatter="dateFormatter" data-sortable="true") Date
						th(data-field="type.name" data-filter-control="select") Type
						th(data-field="source.name" data-filter-control="select") Source
						// a fusion of Boosters and Rivens
						th(data-filter-control="select" data-formatter="infoFormatter") Additional information
		script(nonce=nonce, type='text/javascript').
			let $table = $('#table');

			function rowStyle(row, index) {
				if (index % 2 === 0)
					return { css: { 'background': '#f0f0ff'} };
				return { css: { 'background': '#ffffff'} };
			}

			function headerStyle(column) {
				return {
					'type.name': {
						css: {background: '#f0f0ff'}
					},
					'details': {
						css: {background: '#f0f0ff'}
					},
					'additionalInfo': {
						css: {background: '#f0f0ff'}
					}
				}[column.field]
			}

			function detailsFormatter(value, row, index) {
				return [
					'<a class="details-btn" href="javascript:void(0)" title="details">',
					'<i class="btn btn-outline-info">More info</i>',
					'</a>'
				].join('');
			};

			function infoFormatter(value, row, index) {
				if (row.booster) return row.booster.name;
				if (row.rivenType) return row.rivenType.name;
				return '-';
			}

			function dateFormatter(value) {
				return value.substring(0, 10);
			}

			window.detailsEvents = {
				'click .details-btn': function (e, value, row, index) {
					//alert('You click like action, row: ' + JSON.stringify(row));
					window.location.href = '/reward/view/' + row._id;
				}
			}

			$(function () {
				$table.bootstrapTable();
			});
