extends layout

block link
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/dp/dp.css')

block scripts
    script(src='/dp/dp.js')
    script(src='/javascripts/rewardScripts.js')

block content
    // special invisible Divs
    div(id='boosters' hidden=true)
        label(for='booster-select') Select a booster type :
        select(name='booster' id = 'booster-select')
            each val in boosters
                option(value= val._id) #{val.name}
    div(id='condition-example' hidden=true)
        label(for='cond-select') To be modified
        select(name = 'rivenConditions[]' id = 'cond-select')
            option none
            each val in conditions.optionals
                option(value= val._id) #{val.description}
        span(onClick='removeRow(this);' style='margin-left: 20px;') [-]
        span(onClick='addRow();' style='margin-left: 20px;') [+]
    div(id='riven-example' hidden=true)
        label(for='riven-type') Type :
        select(name = 'rivenType' id = 'riven-type')
            each val in rivens
                option(value= val._id) #{val.name}
        br
        br
        label(for='weaponName') Weapon Name :
        input(name='rivenWeaponName' id='weaponName')
        br
        br
        label(for='mcondition-example') Mandatory Condition :
        select(name = 'rivenConditions[]' id='mcondition-example')
            option none
            each val in conditions.mandatories
                option(value= val._id) #{val.description}
        span(id='mand-span-example' onClick='addOptional(this)' style='margin-left: 20px;') [+]
        br
        br
        div(id='condition-rows-example')
    // Beginning of visible template
    h1 Creation of a new Sortie's Reward
    br
    form(method='POST' name='rewardForm' action='/reward/form' onsubmit='return validateForm(this);')
        div
            label(for='date') Date of reward acquisition :
            input(type='text' name='date' id='date' size='24' readonly)
            button(onclick="return toggleDatepicker(this.previousElementSibling);" type='button') Pick Date
        br
        label(for='type') Select the reward type :
        select(name='type' id='type' onchange='onSelect(this)')
            each val in types
                option(value= val._id) #{val.name}
        br
        br
        div(id='container')
        br
        br
        input(name='submit' type='submit' value='Add Reward' style='margin-left: 20px;')