extends layout

block append link
	link(rel='stylesheet', href='https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css')

block append scripts
	script(src="https://code.jquery.com/jquery-3.6.0.min.js")
	script(src='https://code.jquery.com/ui/1.13.1/jquery-ui.js')
	script(nonce=nonce).
		var reward = !{JSON.stringify(reward)};
	script(src='/javascripts/rewardScripts.js')
	script(src='/javascripts/updateScripts.js')

block content
	script(nonce=nonce).
		_('nav-rewform').classList.add('active');
		_('nav-rewform').innerText = 'Update reward';

	// invisible Divs, ready for cloning
	div(class='input-group mt-2' id='boosters' hidden=true)
		label(class='input-group-text' for='booster-select') Select a booster type :
		select(class='form-select' name='booster' id = 'booster-select')
			each val in boosters
				option(value= val._id) #{val.name}
	div(class='input-group input-group-sm m-1 p-1' id='condition-example' hidden=true)
		label(class='mt-1' for='cond-select') To be modified
		select(class='form-select mx-1' name = 'rivenConditions[]' id = 'cond-select')
			option none
			each val in conditions.optionals
				option(value= val._id) #{val.description}
		span(class='btn btn-outline-info mx-2' style='font-size:larger;') -
		span(class='btn btn-outline-info' style='font-size:larger;') +
	div(class='row' id='riven-example' hidden=true)
		div(class='input-group mt-2')
			label(class='input-group-text' for='riven-type') Type :
			select(class='form-select' name = 'rivenType' id = 'riven-type')
				each val in rivens
					option(value= val._id) #{val.name}
		div(class='input-group mt-2')
			label(class='input-group-text' for='weaponName') Weapon Name :
			input(class='form-control' name='rivenWeaponName' id='weaponName')
		div(class='input-group mt-2')
			label(class='input-group-text' for='mcondition-example') Mandatory Condition :
			select(class='form-select' name = 'rivenConditions[]' id='mcondition-example')
				option none
				each val in conditions.mandatories
					option(value= val._id) #{val.description}
			span(class='btn btn-outline-info mx-1' id='mand-span-example') +
		div(class='input-group mt-2')
			label(class='input-group-text' for='rivenConditionVariable') Mandatory condition variable 'N' :
			input(class='form-control' type='number' min='0' id='rivenConditionVariable' name='rivenN')
		div(id='condition-rows-example')
	// Beginning of the visible template
	div(class='container-lg')
		div(class='row m-1')
			h3 Modification of a Reward
		form(method='POST' id='rewardForm' name='rewardForm' action='/reward/form')
			if (reward)
				div(class='input-group input-group-sm mb-2')
					label(class='input-group-text' for='id') ID of the reward
					input(class='form-control' type='text' name='_id' id='id' size='24' value=reward._id readonly aria-describedby='id')
			if (reward && reward.riven)
				div(class='input-group input-group-sm mt-2')
					label(class='input-group-text' for='rivenId') Riven ID is :
					input(class='form-control' type='text' name='rivenId' id='rivenId' size='24' value=reward.riven._id readonly aria-describedby='rivenId')
			div(class='input-group mt-2')
				- var formattedDate = ''
				if (reward && reward.date)
					- formattedDate = date2string(reward.date)
				label(class='input-group-text' for='date') Date of reward acquisition :
				input(class='form-control' type='text' name='date' id='date' size='24' value=formattedDate readonly)
				//button(onclick="return toggleDatepicker(this.previousElementSibling);" type='button') Pick Date
				button(class='btn btn-outline-info mx-1' id='resetDate' style="margin-left:20px;") X
			div(class='input-group mt-2')
				label(class='input-group-text' for='source') Select the reward source :
				select(class='form-select' name='source' id='source')
					each val in sources
						if (reward.source._id.toString() === val._id.toString())
							option(value= val._id selected) #{val.name}
						else
							option(value= val._id) #{val.name}
			div(class='input-group mt-2')
				label(class='input-group-text' for='type') Select the reward type :
				select(class='form-select' name='type' id='type')
					each val in types
						if (reward.type._id.toString() === val._id.toString())
							option(value= val._id selected) #{val.name}
						else
							option(value= val._id) #{val.name}
			div(id='container')
				if (reward && reward.booster)
					div(class='input-group mt-2' id='boosters')
						label(class='input-group-text' for='booster-select') Select a booster type :
						select(class='form-select' name='booster' id = 'booster-select')
							each val in boosters
								if (reward.booster._id.toString() === val._id.toString())
									option(value=val._id selected) #{val.name}
								else
									option(value=val._id) #{val.name}
				if reward.rivenType
					div(id='riven')
						div(class='input-group mt-2')
							label(class='input-group-text' for='riven-type') Type :
							select(class='form-select' name = 'rivenType' id = 'riven-type')
								each val in rivens
									if (reward.rivenType._id.toString() === val._id.toString())
										option(value= val._id selected) #{val.name}
									else
										option(value= val._id) #{val.name}
						div(class='input-group mt-2')
							label(class='input-group-text' for='weaponName') Weapon Name :
							if reward.riven
								input(class='form-control' name='rivenWeaponName' id='weaponName' value=reward.riven.weaponName)
							else
								input(class='form-control' name='rivenWeaponName' id='weaponName' value='')
						div(class='input-group mt-2')
							- var nbcond = reward.riven ? reward.riven.conditions.length : 1
							label(class='input-group-text' for='mcondition') Mandatory Condition :
							select(class='form-select' name = 'rivenConditions[]' id='mcondition')
								option none
								each val in conditions.mandatories
									if (reward.riven && reward.riven.conditions.length > 0 && reward.riven.conditions[0]._id.toString() === val._id.toString())
										option(value= val._id selected) #{val.description}
									else
										option(value= val._id) #{val.description}
							if (nbcond > 1)
								span(class='btn btn-outline-info' id='mand-span' style='margin-left: 20px;' hidden) +
							else
								span(class='btn btn-outline-info' id='mand-span' style='margin-left: 20px;') +
						div(class='input-group mt-2')
							label(class='input-group-text' for='rivenConditionVariable') Mandatory condition variable 'N' :
							if reward.riven
								input(class='form-control' type='number' min='0' id='rivenConditionVariable' name='rivenN' value= reward.riven.N)
							else
								input(class='form-control' type='number' min='0' id='rivenConditionVariable' name='rivenN' value='')
						div(id='condition-rows')
							- var index = 1
							while index < nbcond
								div(class='input-group input-group-sm m-1 p-1' id='condition-row'+index)
									label(class='mt-1' for='cond-select'+index) Optional condition #{index} :
									select(class='form-select mx-1' name = 'rivenConditions[]' id = 'cond-select'+index)
										option none
										each val in conditions.optionals
											if (reward.riven.conditions[index]._id.toString() === val._id.toString())
												option(value= val._id selected) #{val.description}
											else
												option(value= val._id) #{val.description}
									if (index < nbcond - 1)
										span(class='btn btn-outline-info mx-2' hidden=true) -
									else
										span(class='btn btn-outline-info mx-2') -
									if (index < nbcond - 1 || index >= 5)
										span(class='btn btn-outline-info' hidden=true) +
									else
										span(class='btn btn-outline-info') +
								- index++
			div(class='row mt-4')
				input(class='btn btn-outline-primary w-25 ms-5' id='submit' name='submit' type='submit' value='Update Reward')
