extends layout

block content
	script(nonce=nonce).
		document.getElementById('nav-rivlist').classList.add('active');
		document.getElementById('nav-rivlist').innerText = 'Riven Info';
	div(class='container')
		div(class='row m-1')
			h3 Riven
		div(class='form-group p-1')
			label(for='type')
				b Type :
			input(class='form-control input-lg' id='type' value=riven.type.name readonly)
		div(class='input-group p-1')
			div(class='col-xs')
				label(for='source')
					b Riven source :
				input(class='form-control' id='source' value=riven.source.name readonly size=24)
			if (riven.reward)
				div(class='col-xs mx-2')
					label(for='rewardId') Reward ID :
					input(class='form-control' id='rewardId' value=riven.reward._id readonly size=24)
		div(class='form-group p-1')
			label(for='weaponName')
				b Weapon Name :
			input(class='form-control' id='weaponName' value=riven.weaponName readonly)
		div(class='table-responsive m-1')
			table(class='table table-sm table-striped table-hover')
				thead
					tr
						th Challenge
				tbody
					for condition in riven.conditions
						tr
							td
								if condition === riven.conditions[0] && riven.N
									= condition.description.replace('{N}', riven.N)
								else
									= condition.description
								ul
									- let n = 1
									if condition.advices
										for advice in condition.advices
											li= 'advice ' + n++ + ' : ' + advice
		div(class='row p-1')
			form(action='/rivenForm/' + riven._id)
				input(class='btn btn-outline-primary' type="submit" value='Edit Riven' style='margin-left:20px;')
		div(class='form-group input-group-sm p-1')
			label(for='id') Riven ID :
			input(class='form-control' id='id' value=riven._id readonly size=24)
			label(for='createdDate') Created in database at this date :
			input(class='form-control' id='createdDate' value=riven.Created_date.toLocaleString() readonly size=24)
			label(for='createdBy') Created by :
			input(class='form-control' id='createdBy' value=obfuscate_email(riven.createdBy.email) readonly)
			if (riven.modifiedBy)
				label(for='modifiedBy') Modified by :
				input(class='form-control' id='modifiedBy' value=obfuscate_email(riven.modifiedBy.email) readonly)
