extends layout

block scripts

block content
    h1 Riven
    p id = #{riven._id}
    p Created_date = #{riven.Created_date}
    p Type = #{riven.type.name}
    if (riven.note)
        p Additional information : #{riven.note}
    p Weapon Name = #{riven.weaponName}
    p Challenge :
    ul
        for condition in riven.conditions
            li= condition.description
            if condition === riven.conditions[0] && riven.N
                = '(N = '+ riven.N + ')'
            ul
                - var n = 1
                if condition.advices
                    for advice in condition.advices
                        li= 'advice ' + n++ + ' : ' + advice