extends layout

block append link
	link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous")
	link(rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.24.1/dist/bootstrap-table.min.css" integrity="sha384-tfNXB2/2SVNPdzoqPNMSl0hXmUVBnwOL4odQANKVfu66tA4jFcF+5Ch4nu1LtZAc" crossorigin="anonymous")

block append scripts

block content
	script(nonce=nonce).
		document.getElementById('nav-rivlist').classList.add('active');

	div(class='container-lg')
		div(class='row mt-1')
			div(id="toolbar-title")
				h3 List of Rivens
			table(id="table"
				data-content-type="application/json"
				data-toolbar="#toolbar-title"
				data-url="/riven/"
				data-filter-control="true"
				data-header-style="headerStyle"
				data-row-style="rowStyle"
				data-height="765"
				data-pagination="true"
				data-side-pagination="client"
				data-pagination-loop="false"
				data-page-list="[10, 20, 50, All]"
				data-total-field="count"
				data-data-field="items"
				data-show-fullscreen="true"
				data-show-search-clear-button="true")
				thead
					tr
						th(data-field="details" data-formatter="detailsFormatter" data-events="detailsEvents") Details
						//th(data-field="date" data-formatter="dateFormatter" data-sortable="true") Date
						th(data-field="source.name" data-filter-control="select") Source
						th(data-field="type.name" data-filter-control="select") Type
						th(data-field="weaponName" data-filter-control="input") Weapon name
				tbody(style='height: 10px !important; overflow-y: auto;')
		script(src="/javascripts/jquery.min.js" integrity="sha384-apfJm2DWye6itJXDari7QfgbBXzkNeRsr1xgTfEH0SCvYV+NlzqP+MkX/LHMZIPI" crossorigin="anonymous")
		script(src="/javascripts/bootstrap-table.min.js" integrity="sha384-RzTQgB68/fm4vMToK8E0TUFrz19vvf/rE1U/SPU9Y3AVCYslx71YguRa8ZVnXHGF" crossorigin="anonymous")
		script(src="/javascripts/bootstrap-table-filter-control.min.js" integrity="sha384-M2XjaOUdW77fyUVi9FWWgI2AebCp7oNx8HMDQjg4fH2af+BBosEYx0v/jPaDpRZE" crossorigin="anonymous")
		script(nonce=nonce, type='text/javascript').
			let $table = $('#table');

			function rowStyle(row, index) {
				if (index % 2 === 0)
					return {css: {'background': '#f0f0ff'}};
				return {css: {'background': '#ffffff'}};
			}

			function headerStyle(column) {
				return {
					'type.name': {
						css: {background: '#f0f0ff'}
					},
					'details': {
						css: {background: '#f0f0ff'}
					},
					'booster.name': {
						css: {background: '#f0f0ff'}
					}
				}[column.field]
			}

			function detailsFormatter(value, row, index) {
				return [
					'<a class="details-btn" href="javascript:void(0)" title="details">',
					'<i class="btn btn-outline-info">More info</i>',
					'</a>'
				].join('');
			};

			function dateFormatter(value) {
				return value.substring(0, 10);
			}

			window.detailsEvents = {
				'click .details-btn': function (e, value, row, index) {
					//alert('You click like action, row: ' + JSON.stringify(row));
					window.location.href = '/riven/view/' + row._id;
				}
			}

			$(function () {
				$table.bootstrapTable();
			});
