extends layout

block content
	script.
		var navitem = document.getElementById('nav-rivlist');
		navitem.classList.add('active');

	div(class='container-fluid')
		div(class='row m-1')
			h3 Riven
		div(class='form-group p-1')
			label(for='type')
				b Type :
			input(class='form-control input-lg' id='type' value=riven.type.name readonly)
		if (riven.note)
			div(class='form-group p-1')
				label(for='note') Riven origin :
				input(class='form-control' id='note' value=riven.note readonly size=30)
		div(class='form-group p-1')
			label(for='weaponName')
				b Weapon Name :
			input(class='form-control' id='weaponName' value=riven.weaponName readonly)
		div(class='table-responsive m-1')
			table(class='table table-sm table-striped table-hover')
				thead
					tr
						th Challenge
				tbody
					for condition in riven.conditions
						tr
							td
								if condition === riven.conditions[0] && riven.N
									= condition.description.replace('{N}', riven.N)
								else
									= condition.description
								ul
									- let n = 1
									if condition.advices
										for advice in condition.advices
											li= 'advice ' + n++ + ' : ' + advice
		div(class='row p-1')
			form(action='/rivenForm/' + riven._id)
				input(class='btn btn-outline-primary' type="submit" value='Edit Riven' style='margin-left:20px;')
		div(class='form-group input-group-sm p-1')
			label(for='id') Riven ID :
			input(class='form-control' id='id' value=riven._id readonly size=24)
			label(for='createdDate') Created in database at :
			input(class='form-control' id='createdDate' value=riven.Created_date readonly size=24)
			label(for='createdBy') Created by :
			input(class='form-control' id='createdBy' value=riven.createdBy.email readonly)
			if (riven.modifiedBy)
				label(for='modifiedBy') Modified by :
				input(class='form-control' id='modifiedBy' value=riven.modifiedBy.email readonly)
