extends layout

block append scripts
	script(src='/javascripts/rivenScripts.js')

block content
	script.
		//$('#nav-rivform').addClass('active') // jQuery force
		// document.addEventListener("DOMContentLoaded", function() { // classic event, except IE
		// 	document.removeEventListener( "DOMContentLoaded", arguments.callee, false );
		// });
		window.onload = function () { // classic event, but after everything is downloaded, even images
			document.getElementById('nav-rivform').classList.add('active');
		}

	// special invisible Div
	div(class='input-group input-group-sm m-1 p-1' id='condition-exemple' hidden=true)
		label(class='mt-1' for='cond-select') To be modified
		select(class='form-select mx-1' name = 'conditions[]' id = 'cond-select')
			option none
			each val in conditions.optionals
				option(value= val._id) #{val.description}
		span(class='btn btn-outline-info mx-2' style='font-size:larger;' onClick='removeRow();') -
		span(class='btn btn-outline-info' style='font-size:larger;' onClick='addRow();') +
	div(class='container-lg')
		div(class='row m-1')
			h3 Create a new Riven
		// Riven creation form
		form(method='POST' action='/riven/form' onsubmit='return validateForm(this);')
			div(class='input-group mt-2')
				label(class='input-group-text' for='riven-type') Type :
				select(class='form-select' name = 'type' id = 'riven-type')
					each val in types
						option(value= val._id) #{val.name}
			div(class='input-group mt-2')
				label(class='input-group-text' for='source') Source of the riven :
				select(class='form-select' name = 'source' id = 'riven-source')
					each val in sources
						option(value= val._id) #{val.name}
			div(class='input-group mt-2')
				label(class='input-group-text' for='weaponName') Weapon Name :
				input(class='form-control' name='weaponName' id='weaponName' placeholder='ex: Nagantaka')
			div(class='input-group mt-2')
				label(class='input-group-text' for='mcondition') Mandatory Condition :
				select(class='form-select' name = 'conditions[]' id='mcondition')
					option none
					each val in conditions.mandatories
						option(value= val._id) #{val.description}
				span(class='btn btn-outline-info mx-1' id='mand-span' onClick='addOptional(this)') +
			div(class='input-group mt-2')
				label(class='input-group-text' for='conditionVariable') Mandatory condition variable 'N' :
				input(class='input-control' type='number' min='0' id='conditionVariable' name='N')
			div(id='condition-rows')
			div(class='row mt-4')
				input(class='btn btn-outline-primary w-25 ms-5' name='submit' type='submit' value='Add Riven')
