extends layout

block content
    h1= title
    if (rivenStats)
        p A total of #{rivenStats.count} rivens
        table(border=0)
            thead
                th Riven type
                th(style='padding-right:15px;') Count
                th Percentage
            tbody
                for value, key in rivenStats.stats
                    tr
                        td(style='padding-right:15px;')= key
                        td= value
                        td= Number.parseFloat(value * 100 / rivenStats.count).toFixed(1) + '%'