extends layout

block content
	script.
		document.getElementById('nav-stats').classList.add('active');

	div(class='container-fluid')
		div(class='row ms-1')
			if (boosterStats)
				h1= title
				p A total of #{boosterStats.count} boosters
				div(class='row ms-1')
					table(class='table table-responsive table-striped table-hover')
						thead
							th Booster type
							th(style='padding-right:15px;') Count
							th Percentage
						tbody
							for value, key in boosterStats.stats
								tr
									td(style='padding-right:15px;')= key
									td= value
									td= Number.parseFloat(value * 100 / boosterStats.count).toFixed(1) + '%'
			else
				h2 No stats !
