extends layout

block content
	script.
		var navitem = document.getElementById('nav-events');
		navitem.classList.add('active');

	div(class='container-lg')
		div(class='row')
			h3= title
			p= 'There are ' + events.length + ' ongoing events.'
		div(class='row')
			table(class='table table-responsive table-striped table-hover')
				tbody
					for event in events
						tr
							td
								h4= event.description
								p= event.tooltip
								p= 'Expiration date = '+new Date(event.expiry).toLocaleString()
